@model Perscribo.EF.Library.Models.Role
@using Perscribo.EF.Library.Models;
@using System.Collections.Generic;

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Application</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Role</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="">
            @Html.LabelFor(model => model.PositionTitle)
            <span class="col2">
                @Html.EditorFor(model => model.PositionTitle)
                @Html.ValidationMessageFor(model => model.PositionTitle)
            </span>
        </div>

        <div class="">
            @Html.LabelFor(model => model.AppliedForOn)
            <span class="col2">
                @Html.EditorFor(model => model.AppliedForOn)
                @Html.ValidationMessageFor(model => model.AppliedForOn)
            </span>
        </div>

        <div class="">
            Reference Number
            <span class="col2">
                @Html.EditorFor(model => model.ReferenceNumber)
                @Html.ValidationMessageFor(model => model.ReferenceNumber)
            </span>
        </div>

        <div class="">
            @Html.LabelFor(model => model.PositionType)
            <span class="col2">
                @Html.DropDownList("PositionType", string.Empty)
                @Html.ValidationMessageFor(model => model.PositionType)
            </span>
        </div>

        <div class="">
            Salary Range
            <span class="col2">
                @Html.EditorFor(model => model.LowSalaryRange) (low)
                @Html.ValidationMessageFor(model => model.LowSalaryRange)
                @Html.EditorFor(model => model.HighSalaryRange) (high)
                @Html.ValidationMessageFor(model => model.HighSalaryRange)
                @Html.DropDownList("SalaryType", string.Empty)
                @Html.ValidationMessageFor(model => model.SalaryType)
            </span>
        </div>

        <div class="">
            @Html.LabelFor(model => model.Status)
            <span class="col2">
                @Html.DropDownList("Status", string.Empty)
                @Html.ValidationMessageFor(model => model.Status)
            </span>
        </div>

        <div class="">
            @Html.LabelFor(model => model.Agency)
            <span class="col2">
                @Html.DropDownList("AgencyID", string.Empty)
                @{
                    Html.RenderAction("Consultants", "PartialViews");
                }
            </span>
        </div>

        <div class="">
            @Html.LabelFor(model => model.Company)
            <span class="col2">
                @Html.DropDownList("CompanyID", string.Empty)
            </span>
        </div>

        <div class="">
            @Html.LabelFor(model => model.AgentInterview)
            <span class="col2">
                @Html.EditorFor(model => model.AgentInterview)
                @Html.ValidationMessageFor(model => model.AgentInterview)
            </span>
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(function () {
        $("#PositionTitle").width("400px");
        $("#LowSalaryRange").width("70px");
        $("#HighSalaryRange").width("70px");

        $('#AgencyID').change(function () {
            //alert('click');
            var url = "PartialViews/Consultants/" + $('#AgencyID').val();
            $.ajax({
                url: url,
                dataType: "html",
                success: function (data) {
                    $('#ConsultantID').html(data);
                }
            });
        });
    })
</script>

