@model Perscribo.EF.Library.Models.Agency

@{
    ViewBag.Title = "Consultants";
}

<h2>@Model.Name : Consultants</h2>

<p>
    @Html.ActionLink("Add New Consultant", "ConsultantEdit", new { agencyId = Model.ID })
</p>

<table>
    <tr>
        <th>Name
        </th>
        <th>eMail Address
        </th>
        <th>Phone Number
        </th>
        <th></th>
    </tr>



    @foreach (var Consultant in Model.Consultants)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Consultant.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Consultant.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Consultant.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "ConsultantEdit", new { agencyId = Model.ID, consultantId = Consultant.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = Consultant.ID })
            </td>
        </tr>
    }
</table>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
