@model Perscribo.EF.Library.Models.Agency

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.ID == 0)
{
    <h2>New Agency</h2>
}
else
{
    <h2>Update Agency</h2>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Agency</legend>

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.AddressID)

        <div class="">
            Name:
            <span class="col2">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </span>
        </div>

        <div class="">
            @Html.LabelFor(model => model.PhoneNumber):
            <span class="col2">
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </span>
        </div>

        @if (Model.Address != null)
        {
            @Html.EditorFor(model => model,"Address")
        }
        else
        {
            <a href="#" id="showAddress">Add Address</a>
            <div id="addressControl"></div>
        }

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<script type="text/javascript">
    $(function () {
        $('#showAddress').click(function () {
            $.get("Address", {},
                function (data) {
                    $('#addressControl').html(data);
                   // $('#showAddress').css
                },
                "html");
        })
    });
</script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}