@model Perscribo.EF.Library.Models.IAddressedEntity

<fieldset>
    <legend>Address</legend>
    
    @if (Model == null)
    {
        @Html.HiddenFor(model => model.Address.ID, new { disabled = "disabled" })
    }
    else
    {
        @Html.HiddenFor(model => model.Address.ID)
    }

    <div class="">
        Street:
    <span class="col2">
        @Html.EditorFor(model => model.Address.Street1)
        @Html.ValidationMessageFor(model => model.Address.Street1)
    </span>
    </div>
    <div class="">
        &nbsp;
        <span class="col2">
            @Html.EditorFor(model => model.Address.Street2)
            @Html.ValidationMessageFor(model => model.Address.Street2)
        </span>
    </div>
    <div class="">
        &nbsp;
        <span class="col2">
            @Html.EditorFor(model => model.Address.Street3)
            @Html.ValidationMessageFor(model => model.Address.Street3)
        </span>
    </div>
    <div class="">
        @Html.LabelFor(model => model.Address.Suburb):
        <span class="col2">
            @Html.EditorFor(model => model.Address.Suburb)
            @Html.ValidationMessageFor(model => model.Address.Suburb)
        </span>
    </div>

    <div class="">
        State:
        <span class="col2">
            @Html.DropDownList("Address.StateID", string.Empty)
            @Html.ValidationMessageFor(model => model.Address.StateID)
        </span>
    </div>

    <div class="">
        @Html.LabelFor(model => model.Address.Postcode):
        <span class="col2">
            @Html.EditorFor(model => model.Address.Postcode)
            @Html.ValidationMessageFor(model => model.Address.Postcode)
        </span>
    </div>
</fieldset>

