@model Perscribo.EF.Library.Models.Role
@using Perscribo.EF.Library.Models;
@using System.Collections.Generic;

@{
    ViewBag.Title = "Create a new Application";
}

<h2>Create a new Application</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Role</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.PositionTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PositionTitle, null, new { style = "width: 400px;" })
            @Html.ValidationMessageFor(model => model.PositionTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AppliedForOn)
        </div>
        <div class="editor-field">
            
            @Html.EditorFor(model => model.AppliedForOn)
            @Html.ValidationMessageFor(model => model.AppliedForOn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReferenceNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReferenceNumber)
            @Html.ValidationMessageFor(model => model.ReferenceNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PositionType)
        </div>
        <div class="editor-field">
            @Html.DropDownList("PositionType", string.Empty)
            @Html.ValidationMessageFor(model => model.PositionType)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.LowSalaryRange)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LowSalaryRange)
            @Html.ValidationMessageFor(model => model.LowSalaryRange)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HighSalaryRange)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HighSalaryRange)
            @Html.ValidationMessageFor(model => model.HighSalaryRange)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SalaryType)
        </div>
        <div class="editor-field">
            @Html.DropDownList("SalaryType", string.Empty)
            @Html.ValidationMessageFor(model => model.SalaryType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Status", string.Empty)
            @Html.ValidationMessageFor(model => model.Status)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.AgentInterview)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AgentInterview)
            @Html.ValidationMessageFor(model => model.AgentInterview)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Agency)
        </div>
        <div class="editor-field">
            @{Html.RenderAction("Agency", "Applications");}
@*            @Html.EditorFor(model => model.Agency)
            @Html.ValidationMessageFor(model => model.Agency)*@
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
