@model IEnumerable<Perscribo.EF.Library.Models.Role>

@{
    ViewBag.Title = "Job Applications";
}

<h2>Job Applications</h2>

<p>
    <a href="?verb=New">Create New Application</a>
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PositionTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Agency.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppliedForOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferenceNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PositionTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Agency.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppliedForOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferenceNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.RouteLink("Details", "ApplicationDetails", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
